torch
torchvision
timm
wilds

numpy
scipy
pandas
scikit-learn
tqdm
pyyaml
einops
pillow
matplotlib
seaborn
umap-learn
statsmodels
tensorboard
streamlit
hydra-core
omegaconf
wandb
mlflow
pytest
pytest-cov
